<!DOCTYPE html>

<head>
    <title>HOME PAGE</title>
</head>

<body>
    <h1>HOME PAGE</h1>
    <form action="" method="POST">
        <div>
            <label for="username">Username</label>
            <input type="name" placeholder="Enter username" name="inp1">
        </div>
        <div>
            <label for="Mobile No.">Contact number:</label>
            <input type="number" placeholder="Enter Contact No." name="inp2">
        </div>
        <button type="submit">Submit</button>
    </form>

</body>